* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #003d6f;
}
nav {
  padding: 6px 80px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 160px;
  height: 90px;
}
nav a {
  text-decoration: none;
  font-style: normal;
  font-size: 15px;
  /* font-weight:600; */
  font-family: "Poppins", sans-serif;
  color: #888a89;
  padding: 35px 0px;
  transition: all .3s ease-in-out;
}
nav a:hover {
    transform: scale(1.1);
  }
  .active{
    color: #313131;
  }
.container {
  display: flex;
}
.whiteSect {
  height: 100vh;
  width: 60vw;
}
.whiteSect h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  font-family: "Open Sans";
  color: #013a2d;
  padding: 60px 80px 0px 80px;
}
.whiteSect p {
  font-style: normal;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #888a89;
  padding: 6px 80px;
}
.greensect {
  background-color: rgb(7, 73, 73);
  height: 105vh;
  width: 40vw;
  z-index: -2;
  color: rgb(255, 255, 255);
}
.greensect a{
    text-decoration: none;
    color: #ffffff;
}
.right-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 20px;
}
.icon i{
    padding: 0px 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.icon:hover{
transform: scale(1.1);

}
.card {
  border-style: solid;
  display: flex;
  justify-content: space-between;
  border-width: 1px;
  border-color: #d8d4d4;
  margin-left: 80px;
  margin-top: 10px;
  z-index: 4;
  background-color: rgb(255, 255, 255);
}
.cardchild {
  padding: 20px;
}
.line {
    background-color: #d8d4d4;
    width: 2px;
    height: 50px;
    margin: 15px 0px;
}
.cardchild h4{
    font-style: normal;
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #013a2d;
    padding-left: 5px;
    /* padding: 6px 80px; */
}
.select {
  border-style: none;
  color: #888a89;
  margin-top: 5px;
}
.btn-search {
  border: none;
  background-color: #013a2d;
  color: rgb(255, 255, 255);
  width: 150px;
  height: 45px;
}
.btn-search:hover {
    border: none;
    background-color: #187a63;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
  }
.img-container img{
    position:absolute;
    top: 130px;
    right: 100px;
    z-index: -1;
    width: 620px;
    height: 520px;
}

.container2{
    margin: 80px;
    display: flex;
    gap: 50px;
}
.leftimg img{
width: 500px;
height: 600px;
}
.rightcontent h2{
    font-style: normal;
    
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    color: #013a2d;
    padding: 60px 80px 0px 80px;
}
.banner{
  display: flex;
  background-color: #ffffff;
  width: 75vw;
  justify-content: space-around;
  position: absolute;
  top: 1050px;
  right: 60px;
}
.widget{
  width: 200px;
  margin: 30px 20px;
}
.widget h2{
  font-size: 20px;
  font-family:"Open Sans"; 
  color: #013a2d;
  line-height: 44px;
}
.widget p{
  font-size: 12px;
  font-family: "poppins";
  color: #888a89;
}
.widget button{
  font-size: 12px;
  font-family:"Open Sans"; 
  font-weight:800;
  border: none;
  color: #013a2d;
  background-color:rgb(255, 255, 255);
  margin-top: 20px;
  /* width: 150px;
  height: 45px; */
}

.heading{
  font-size: 28px;
  font-family:"Open Sans"; 
  font-weight:800;
  color: #013a2d;
  margin: 40px 80px;
}
.card-array{
  width: 90vw;
  margin-left: 80px;
  display: flex;
  gap:30px ;
  overflow-x: auto;
}
.card2{
  width: 380px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d4d4;
  flex:none;
  transition: all 0.6s ease;
  background-color: rgb(255, 255, 255);
  padding: 25px;
}
.badge{
  background-color: #ffffff;
  z-index: 2;
  position: relative;
  top: 10px;
  left: 15px;
  font-size: 18px;
  font-family:"Open Sans"; 
  font-weight:800;
  color: #013a2d;
  padding: 8px 27px;
  width: 90px;
}
.card2 img{
width: 100%;
height: 250px;
position: relative;
top: -40px;
}
.caption{
 font-size: 20px;
 font-family:"Open Sans"; 
 font-weight:800;
 color: #013a2d;
 margin-top: -20px;
  }
  .card2 p{
    font-size: 14px;
    font-family: "poppins";
    color: #888a89;
  }
  .lastrow{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .lastrow h2{
    font-size: 25px;
    font-family:"Open Sans"; 
    font-weight:800;
    color: #013a2d;
  }
  .lastrow button {
    border: none;
    background-color: #013a2d;
    color: rgb(255, 255, 255);
    width: 130px;
    height: 45px;
    margin-top: 20px;
  }
  .iconchild{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
  /* .icontable{ */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
  /* } */
/* .card-array::-webkit-scrollbar { */
  /* display: none; */
/* } */

/* footer */

footer {
  position: relative;
  bottom: 0px;
}

.foot {
  padding: 30px 10px;
  position: relative;
  bottom: 0px;
  /* margin-top: 30px; */
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  justify-content: space-around;
  cursor: pointer;
  transition: all .20s ease-in-out;
}

.sect li {
  list-style: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: #aa9b9b;

}

.sect li:nth-child(1) {

  color: rgb(21, 0, 46);
  margin-left: -3px;
  font-weight: 900;
  font-size: 20px;
  font-family: Open Sans;
}

.sect {
  width: 240px;
}
.sect img{
  width: 230px;
}
.email-btn{
  background-color:#ffffff;
  padding:10px 20px;
  border-color:#aa9b9b;
  border-width: 1px;
  width: 200px;
}
